.u-section-1 {
    background-image: url("../images/fondo.png");
  }
  
  .u-section-1 .u-sheet-1 {
    min-height: 100vh;
  }
  
  .u-section-1 .u-product-1 {
    min-height: 855px;
    height: auto;
    margin-top: 21px;
    margin-bottom: 60px;
  }
  
  .u-section-1 .u-container-layout-1 {
    padding: 12px 30px;
  }
  
  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    text-shadow: -2px 2px 8px rgba(128,128,128,1);
    width: 652px;
    margin: 168px auto 0;
  }
  
  .u-section-1 .u-text-2 {
    margin: 83px 681px 0 143px;
  }
  
  .u-section-1 .u-text-3 {
    margin: 28px auto 0 143px;
  }
  
  .u-section-1 .u-text-4 {
    margin: 28px auto 0 143px;
  }
  
  .u-section-1 .u-text-5 {
    margin: 28px auto 0 143px;
  }
  
  .u-section-1 .u-text-6 {
    margin: 28px auto 0 143px;
  }
  
  .u-section-1 .u-text-7 {
    margin: 28px auto 0 143px;
  }
  
  .u-section-1 .u-text-8 {
    margin: 28px auto 0 143px;
  }
  
  .u-section-1 .u-text-9 {
    margin: 28px auto -9px 143px;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-text-2 {
      margin-left: 43px;
      margin-right: 581px;
    }
  
    .u-section-1 .u-text-3 {
      margin-left: 43px;
    }
  
    .u-section-1 .u-text-4 {
      margin-left: 43px;
    }
  
    .u-section-1 .u-text-5 {
      margin-left: 43px;
    }
  
    .u-section-1 .u-text-6 {
      margin-left: 43px;
    }
  
    .u-section-1 .u-text-7 {
      margin-left: 43px;
    }
  
    .u-section-1 .u-text-8 {
      margin-left: 43px;
    }
  
    .u-section-1 .u-text-9 {
      margin-left: 43px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-text-2 {
      margin-left: 0;
      margin-right: 404px;
    }
  
    .u-section-1 .u-text-3 {
      margin-left: 0;
    }
  
    .u-section-1 .u-text-4 {
      margin-left: 0;
    }
  
    .u-section-1 .u-text-5 {
      margin-left: 0;
    }
  
    .u-section-1 .u-text-6 {
      margin-left: 0;
    }
  
    .u-section-1 .u-text-7 {
      margin-left: 0;
    }
  
    .u-section-1 .u-text-8 {
      margin-left: 0;
    }
  
    .u-section-1 .u-text-9 {
      margin-left: 0;
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .u-section-1 .u-text-1 {
      width: 520px;
    }
  
    .u-section-1 .u-text-2 {
      margin-right: 264px;
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-text-1 {
      font-size: 1.5rem;
      width: 320px;
    }
  
    .u-section-1 .u-text-2 {
      margin-right: 64px;
    }
  }