<!DOCTYPE html>
<html lang="es-ES">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Esta descripción es la que aparece en los buscadores debajo de la URL" />
	<link href="/css/practica7.css" rel="stylesheet" type="text/css" />
	<link href="/css/formulario.css" rel="stylesheet" type="text/css" />
	<link href="./css/resets.css" rel="stylesheet" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,500,600,700,800&display=swap" rel="stylesheet">
    
	<title>Crear expediente</title>
</head>


<body>

    <main>
        <h3 class="bienvenido">¡Modifiquemos el expediente!</h3>


        <form action="/expedientes/edit/<%= editarExpediente.id %>?_method=PATCH" method="POST">

            <div class='registros'>
                <label>Estado</label>
                <select value="<%= editarExpediente.estado%>" name='estado' class="style" required>
                    <option selected disabled>Sel. una opción</option>
                    <option>Inicio</option>
                    <option>SG</option>
                    <option>Pliego y Publicación</option>
                    <option>Apertura y Preadjudicación</option>
                    <option>Dictamen</option>
                    <option>Resolución</option>
                    <option>Tribunal de Cuenta</option>
                    <option>Orden de Pago</option>
                    <option>Contaduria</option>
                    <option>Tesorería</option>
                    <option>Pago</option>
                </select>
            </div>

            <div class='registros'>
                <label for="">
                    <span>Fecha de Estado</span>
                    <input value="<%= editarExpediente.fecha_estado%>"  type="date"  name="fecha_estado" />
                </label>
            </div>


            <input class="boton-enviar" type="submit" value="Editar usuario">
        </form>

        <form action="/expedientes/delete/<%= editarExpediente.id %>?_method=DELETE" method="post" >
            <button type="submit" onclick="return confirm('¿Estas seguro?')">Eliminar</button>
        </form>
        



    </main>
</body>

</html>