<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>REGISTRO</title>
</head>

<body>
    <section>
        <div class="imgBx">
            <img src="images/LQEQ.jpg">
        </div>
        <div class="contentBx">
            <div class="formBx">
                <h2>REGISTRO</h2>
                <% if (locals.errors) {
                     errors.forEach(error => { %>
                    <p class="feedback is-danger"> <%= error.msg %></p>
               <% }) 
                     } %> 
                <form action="/users/register"  method="POST" >
                    <div class="inputBx">
                        <label for="full_name">Nombre Empresa</label>
                        <input type="text" class="form-control" name="full_name" id="full_name" 
                        value="<%= locals.old && old.full_name ? old.full_name : '' %>">
                    </div>

                    <div class="inputBx">
                        <label for="email">Email</label>
                        <input type="email" name="email" 
                        value="<%= locals.old && old.email ? old.email: '' %>">
                    </div>

                   
                    <div class="inputBx">
                        <span>Password</span>
                        <input type="password" name="password">
                    </div>

                    <div class="inputBx">
                        <span>Imagen Empresa: </span>
                        <input type="file" name="userImage">
                    <% if (locals.errors && errors.userImage) { %>
                        <div>
                            <%= errors.userImage.msj %>
                        </div>
                        <% } %>
                    </div>

                    
                    <div class="inputBx">
                        <input type="submit" value="Registrarme"  name="">
                    </div>

                </form>
            </div>
        </div>
    </section>
</body>

</html>